@{
  Layout = "_Layout";
}

@using Patisserie.Models
@model Patisserie.Models.Treat

@using (Html.BeginForm())
{
  <h3>Add a new treat</h3>

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name of treat here.", @class = "form-control" })

    <input type="submit" class="btn" value="Add New Treat" />

}